[project]
	description =  testproject
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/IT Svit (it-svit)
[access "refs/for/refs/*"]
	read = group user/IT Svit (it-svit)
	push = group user/IT Svit (it-svit)
	label-Code-Review = -2..+2 group user/IT Svit (it-svit)
	label-Verified = -1..+1 group user/IT Svit (it-svit)
	rebase = group user/IT Svit (it-svit)
	removeReviewer = group user/IT Svit (it-svit)
	submit = group user/IT Svit (it-svit)
[access "refs/heads/*"]
	read = group user/IT Svit (it-svit)
	create = group user/IT Svit (it-svit)
	push = +force group user/IT Svit (it-svit)
	pushMerge = group user/IT Svit (it-svit)
[access "refs/tags/*"]
	push = group user/IT Svit (it-svit)
	push = +force group user/IT Svit (it-svit)
